# Server
PORT=8080

# Database
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Email (Nodemailer)
MY_EMAIL=you@example.com
MY_EMAIL_PASS=your_email_app_password

# OTP (MSG91_AUTH_KEY)
MSG91_AUTH_KEY=your_msg91_auth_key

# Google Cloud Storage
GOOGLE_APPLICATION_CREDENTIALS=/app/feisty-audio-471914-d7-4ba42316eee6.json

# reCAPTCHA
RECAPTCHA_API_KEY=your_recaptcha_secret_key

# Moderator
SUPER_TOKEN=your_super_secret_token