# Dependencies
node_modules/

# Build output
dist/

# Google Cloud credentials
feisty-audio-471914-d7-4ba42316eee6.json

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

.env.*
!.env.example